.assess {
  display: flex;
  gap: 0 15rem;
  align-items: center;
  margin-bottom: 10rem;
  &--title {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
  &--desc {
    max-width: 60rem;
    font-family: $font-secondary;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 4rem;
  }
}

.assess {
  &-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 75px;
  }
  &-main {
  }
  &-first {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to bottom,
        rgb(245, 245, 245),
        rgba(255, 255, 255, 0.572)
      );
      border-radius: 1rem;
    }
  }
  &-last {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.926),
        rgba(255, 255, 255, 0.656)
      );
      border-radius: 1rem;
    }
  }
  &-feature__image {
    width: 462px;
    height: 15rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &-list {
    display: none;
  }
  &-control {
  }
  &-control__up,
  &-control__down {
    cursor: pointer;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and(max-width:1279px) {
  .assess {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px 0;
    &-container {
      margin: 0 auto;
    }
  }
}
@media screen and(max-width:1023px) {
  .assess {
    &-slider {
      flex-direction: column;
    }
    &-control {
      transform: rotate(90deg);
    }
  }
}
