.footer {
  width: 100%;
  margin-top: 84px;
  background-color: #fff;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
  }
  &-content {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px 40px;
    flex-wrap: wrap;
  }
  &-content__link {
    display: inline-block;
    color: $text-color;
  }
  &-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    width: 50%;
    flex-wrap: wrap;
    &__since {
      display: inline-block;
    }
    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px 20px;
    }
  }
}
@media screen and(max-width:1279px) {
  .footer {
    padding: 0 3rem;
    &-content {
      &__link {
        padding-right: 5rem;
      }
    }
  }
}
@media screen and(max-width:767px) {
  .footer {
    &-container {
      flex-direction: column;
      justify-content: flex-start;
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
      &__link {
        padding-right: 0;
        padding-bottom: 20px;
      }
    }
    &-social {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: 100%;
      gap: 0 16px;
    }
  }
}
