.instagram {
  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px 0;
    margin-bottom: 4.8rem;
  }
  &-contact {
    display: flex;
    gap: 0 5px;
    align-items: center;
  }
  &-title {
    font-weight: bold;
    font-size: 48px;
  }
  &-desc {
    text-align: center;
    width: 60rem;
    font-family: $font-secondary;
    line-height: 24px;
  }
  &-link {
    cursor: pointer;
    color: $secondary-color;
    font-weight: bold;
    font-size: 14px;
  }
  &-icon {
    font-size: 20px;
  }
  &-list {
    position: relative;
    display: flex;
    overflow-x: auto;
    user-select: none;
    gap: 0 30px;
    scroll-behavior: smooth;
    scroll-snap-type: x;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 200%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0);
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-item {
    scroll-snap-align: start;
    min-width: 27rem;
    height: 27rem;
    user-select: none;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1.5rem;
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    display: inline-block;
  }
}
@media screen and(max-width:1023px) {
  .instagram {
    &-item {
      min-width: 20rem;
      height: 20rem;
    }
  }
}
@media screen and(max-width:767px) {
  .instagram {
    &-title {
      font-size: 24px;
    }
    &-desc {
      width: 100%;
    }
    &-item {
      min-width: 14.7rem;
      height: 14.7rem;
    }
  }
}
