$font-primary: "SVN-Product Sans", sans-serif;
$font-secondary: "Roboto", sans-serif;
$text-color: #000000;
$primary-color: #ffc800;
$secondary-color: #009efe;
$pink-color: #ef9cd6;
$blue-color: #85cef2;
$yellow-color: #f4ea88;
$white-color: #ffffff;
$box-shadow-color-card: 0px 3px 8px rgba(0, 0, 0, 0.15);
